.login-container {
  //   background-color: rgba(51, 51, 51, 255);

  .left {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.4rem 1rem 0 rgba(8, 14, 10, 0.4);

    .title-container {
      font-size: 1.2rem;
      padding: 1rem;
      & h3 {
        font-weight: 700;
        color: #000;
        & span {
          font-weight: 700;
          color: rgba(108, 219, 147, 255);
        }
      }
    }

    .login-wrapper {
      height: 92%;

      .title-login {
        & h2 {
          font-weight: 700;
          color: rgba(51, 51, 51, 255);
        }
      }

      .border-line {
        border: 4px solid rgb(108, 219, 147);
        font-size: 1rem;
        width: 25%;
      }
    }
  }
  .right {
    background-color: rgb(51, 210, 107);
    box-shadow: 0 0.4rem 1rem 0 rgba(8, 14, 10, 0.4);

    .content {
      font-weight: 500;
      text-align: justify;
      color: rgba(255, 255, 255, 255);
      //   color: rgba(51, 51, 51, 255);
    }
  }
}

.button {
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1rem;
  width: 6rem;
  border-radius: 1.5rem;
  background-color: #000;
  box-shadow: 0 0.4rem 1rem 0 rgba(25, 35, 27, 0.4);
  font-weight: 700;

  &:hover {
    background-color: #000;
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.98);
  }
}

.forget-container {
  font-size: 1rem;
  font-weight: 600;
  & a {
    font-weight: 800;
    cursor: pointer;
  }
}

label {
  font-weight: 700;
}

// rgba(51,51,51,255) - black
// rgba(28,185,203,255) - blue
// rgba(108,219,147,255) - green
// rgba(255,255,255,255) - white
// rgb(225, 250, 222) - greenish white
