/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif, "Times New Roman", Times, serif;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #919aa1;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type="file"] {
  overflow: hidden;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #55595c;
  background-color: #f7f7f9;
  border-color: #8d8d8d;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(26, 26, 26, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #919aa1;
  opacity: 1;
}
.form-control::placeholder {
  color: #919aa1;
  opacity: 1;
}
.form-control:disabled {
  background-color: #eceeef;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0.75rem 1.5rem;
  margin: -0.75rem -1.5rem;
  -webkit-margin-end: 1.5rem;
  margin-inline-end: 1.5rem;
  color: #55595c;
  background-color: #eceeef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 0;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.75rem 1.5rem;
  margin: -0.75rem -1.5rem;
  -webkit-margin-end: 1.5rem;
  margin-inline-end: 1.5rem;
  color: #55595c;
  background-color: #eceeef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 0;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #e0e2e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #e0e2e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #55595c;
  background-color: transparent;
  border: solid transparent;
  border-width: 0 0;
}
.form-control-plaintext:focus {
  outline: 0;
}
.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 1rem);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-sm::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.form-control-lg {
  min-height: calc(1.5em + 4rem);
  padding: 2rem 2rem;
  font-size: 1.25rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 2rem 2rem;
  margin: -2rem -2rem;
  -webkit-margin-end: 2rem;
  margin-inline-end: 2rem;
}
.form-control-lg::file-selector-button {
  padding: 2rem 2rem;
  margin: -2rem -2rem;
  -webkit-margin-end: 2rem;
  margin-inline-end: 2rem;
}

textarea.form-control {
  min-height: calc(1.5em + 1.5rem);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 1rem);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 4rem);
}

.form-control-color {
  width: 3rem;
  height: calc(1.5em + 1.5rem);
  padding: 0.75rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  border: 0 !important;
}
.form-control-color.form-control-sm {
  height: calc(1.5em + 1rem);
}
.form-control-color.form-control-lg {
  height: calc(1.5em + 4rem);
}

.p-steps-number {
  color: #000;
}

.button {
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1rem;
  width: 6rem;
  border-radius: 1.5rem;
  background-color: #000;
  box-shadow: 0 0.4rem 1rem 0 rgba(25, 35, 27, 0.4);
  font-weight: 700;

  &:hover {
    background-color: #000;
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    color: #f7f7f9;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: #000;
    color: #f7f7f9;
    cursor: not-allowed;
    pointer-events: all !important;
  }
}

.link {
  color: rgba(108, 219, 147, 255);
  cursor: pointer;

  &:hover {
    color: rgba(108, 219, 147, 255);
  }
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: rgba(51, 51, 51, 255);
  color: #fff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #79ec96 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #79ec96;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.team-orgchaart {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.bt {
  width: auto;
  height: 3.5rem;
  margin-bottom: 1rem;
  // background-color: rgba(255, 255, 255, 255);
  // color: rgba(51, 51, 51, 255);
  text-align: center;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    padding: 0;
  }

  .bi {
    color: rgba(108, 219, 147, 255);
    font-size: 1.5rem;
    margin-right: 0.61rem;
  }
}

.register-container {
  min-height: 90vh;
  .left {
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 0 0.4rem 1rem 0 rgba(8, 14, 10, 0.4);

    .title-container {
      font-size: 1.2rem;
      padding: 1rem;
      & h3 {
        font-weight: 700;
        color: #000;
        & span {
          font-weight: 700;
          color: rgba(108, 219, 147, 255);
        }
      }
    }
  }
}

.cd-chart {
  box-shadow: 0 1rem 1.4rem rgba(51, 51, 51, 0.3);
  cursor: pointer;
}

.p-datatable .p-sortable-column.p-highlight {
  background: rgba(51, 51, 51, 255);
}

.pagination {
  display: flex;
  width: 23rem;
  justify-content: space-around;
  margin: 1rem 0;

  .page-link {
    border-radius: 0.6rem;
    border: none;
    color: #000;
  }
  .page-link.disabled,
  .disabled > .page-link {
    pointer-events: all !important;
    cursor: not-allowed;
  }
  .page-link.active,
  .active > .page-link {
    background-color: #79ec96;
    color: #fff;
  }
}

.space-badge {
  border-radius: 1rem;
  padding: 0.29em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

.space-badge.status-SCHEDULED {
  background-color: rgba(19, 99, 223, 0.271);
  color: #1363df;
}

.space-badge.status-CANCELLED {
  background-color: rgba(252, 138, 138, 0.271);
  color: #a30f0f;
}

.space-badge.status-RESERVED {
  background-color: rgb(249, 178, 178, 0.271);
  color: #a30f0f;
}

.space-badge.status-ON-PROGRESS {
  background-color: rgba(255, 218, 162, 0.271);
  color: #ffa726;
}

.space-badge.status-COMPLETED {
  background-color: rgba(108, 219, 147, 0.271);
  color: rgb(31, 110, 59);
}

.space-badge.status-AVAILABLE {
  background-color: rgba(98, 252, 132, 0.271);
  color: #018508;
}

.p-organizationchart {
  .p-component,
  .p-component * {
    width: max-content;
  }

  .p-person {
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #78ffd6,
      #a8ff78
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #78ffd6,
      #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
    font-weight: 700;
  }
  .node-header,
  .node-content {
    padding: 0.5em 0.7rem;
  }

  .node-header {
    background-color: #495ebb !important;
    color: #ffffff;
  }

  .node-content {
    text-align: center;
    border: 1px solid #495ebb;
  }

  .node-content img {
    border-radius: 50%;
  }

  .department-cfo {
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #78ffd6,
      #a8ff78
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #78ffd6,
      #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #000;
    font-weight: 700;
  }

  .department-coo {
    background-color: #a534b6;
    color: #ffffff;
  }

  .department-cto {
    background-color: #e9286f;
    color: #ffffff;
  }

  .p-subteam {
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #78ffd6,
      #a8ff78
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #78ffd6,
      #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #000;
    font-weight: 700;
  }
  .p-users {
    background: #a8ff78; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #78ffd6,
      #a8ff78
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #78ffd6,
      #a8ff78
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #000;
    font-weight: 700;
  }
}

.p-organizationchart .p-organizationchart-node-content {
  // border: none;
  border-radius: 0.8rem;
  // box-shadow: 0 0.1rem 0.7rem rgba(108, 219, 147, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0.1rem 0.7rem rgba(7, 15, 10, 0.3);
  &:hover {
    box-shadow: 0 0.1rem 0.7rem rgba(7, 15, 10, 0.5);
  }
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  background: #fff;
  font-weight: 600;
  box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.2);
}

.p-autocomplete {
  width: 100%;
  & .p-autocomplete-multiple-container {
    width: 100%;
  }
}
