<div class="vh-100 w-100">
  <div class="row h-100 w-100">
    <div class="h-100 left col-12 col-md-8">
      <div class="container p-5 h-100">
        <div class="row h-100">
          <div class="col-12 d-flex align-items-center">
            <div
              class="main-content h-50 d-flex flex-column justify-content-around"
            >
              <div class="logo-container my-5">
                <h3 class="heading">Space<span>360</span></h3>
              </div>

              <div class="content">
                <h6 class="subtitle">Make space for <span>your team</span></h6>
                <h1 class="title py-3">Meet-space booking</h1>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                  cumque earum molestias dolorem nostrum, natus corporis, quia
                  quam, animi perspiciatis quod eligendi distincti obcaecati
                  nesciunt consequatur architecto hic nulla officia!
                </p>
                <div class="actions py-5">
                  <button
                    (click)="login()"
                    class="btn btn-md button text-center"
                  >
                    <span> Log In </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-100 right col-12 col-md-4">
      <div class="container p-4 h-100">
        <div class="row h-100">
          <div class="col-12 h-100 d-flex flex-column justify-content-around">
            <div class="content d-flex flex-column justify-content-around">
              <div class="main-description mb-5 pb-4">
                We build creative tools for creative people.
              </div>
              <div class="short-description mb-5 pb-4">
                Creative, modern, minimal and fully responsive coming soon/under
                construction template suitable for every creative person,
                corporates, business agency.
              </div>
              <div class="actions">
                <button (click)="register()" class="btn btn-md button btnu">
                  <span>Register</span>
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="footer-container m-0 p-0">
            <footer class="footer">Fabricated by Team03 © 2022</footer>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
