<div class="vh-100 w-100">
  <div class="row h-100 w-100">
    <div class="h-100 left col-12 col-md-8">
      <div class="container p-5 h-100">
        <div class="row h-100">
          <div class="col-12 d-flex align-items-center">
            <div
              class="main-content h-50 d-flex flex-column justify-content-around"
            >
              <div class="logo-container my-5">
                <h3 class="heading">Space<span>360</span></h3>
              </div>

              <div class="content">
                <h6 class="subtitle">Make space for <span>your team</span></h6>
                <h1 class="title py-3">Meet-space booking</h1>
                <p class="description">
                  Find and book conference rooms, meeting spaces and other
                  collaboration areas with a single tool. Search for an
                  available room that meets your needs, from capacity to
                  installed equipment, then book and invite your attendees – All
                  in a few clicks.
                </p>
                <div class="actions py-5">
                  <button
                    (click)="login()"
                    class="btn btn-md button text-center"
                  >
                    <span> Log In </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-100 right col-12 col-md-4">
      <div class="container p-4 h-100">
        <div class="row h-100">
          <div class="col-12 h-100 d-flex flex-column justify-content-around">
            <div class="content d-flex flex-column justify-content-around">
              <div class="main-description mb-5 pb-4">
                The most flexible reservation system you'll ever find
              </div>
              <div class="short-description pb-5">
                Your employees can Quickly Search & Schedule a Meeting Room From
                our Super Fast App. Live occupancy and usage report dashboard.
              </div>
              <div class="actions pt-4">
                <button (click)="register()" class="btn btn-md button btnu">
                  <span>Register</span>
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="footer-container m-0 p-0">
            <footer class="footer">Fabricated by Team03 © 2022</footer>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
