<div class="h-100 p-3">
  <div class="row mb-3">
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-between"
    >
      <h3
        class="p-0 ms-2 mb-3 mb-md-0 text-muted align-self-start text-uppercase"
      >
        Space
      </h3>
      <div class="d-flex">
        <button (click)="moveToSpaceCreate()" class="btn button bt me-3">
          <i class="bi bi-plus-circle"></i>
          <span>Create Space</span>
        </button>
        <button (click)="moveToSpaceCategoryCreate()" class="btn button bt">
          <i class="bi bi-plus-circle"></i>
          <span>Space Category</span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="row d-flex flex-wrap justify-content-center justify-content-md-between align-items-center parent mb-5"
  >
    <div class="card mb-3 mb-xl-0">
      <div
        class="card-body d-flex flex-column justify-content-center align-items-around"
      >
        <div
          class="icon-container d-flex justify-content-around align-items-center"
        >
          <div class="content text-start m-0">
            <p class="de">Space Categories</p>
            <span>{{ cards?.space?.totalSpaceCategory }}</span>
          </div>
          <div style="background-color: #f27b57" class="icon">
            <i class="pi pi-sitemap"></i>
            <!-- pi-chevron-circle-up -->
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mb-xl-0">
      <div
        class="card-body d-flex flex-column justify-content-center align-items-around"
      >
        <div
          class="icon-container d-flex justify-content-around align-items-center"
        >
          <div class="content text-start m-0">
            <p class="de">Total Spaces</p>
            <span>{{ cards?.space?.totalSpace }}</span>
          </div>
          <div style="background-color: #ffa726" class="icon">
            <i class="pi pi-th-large"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mb-xl-0">
      <div
        class="card-body d-flex flex-column justify-content-center align-items-around"
      >
        <div
          class="icon-container d-flex justify-content-around align-items-center"
        >
          <div class="content text-start m-0">
            <p class="de">Available Spaces</p>
            <span>{{ cards?.space?.totalAvailableSpace }}</span>
          </div>
          <div style="background-color: rgba(108, 219, 147, 255)" class="icon">
            <i class="pi pi-clock"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mb-xl-0">
      <div
        class="card-body d-flex flex-column justify-content-center align-items-around"
      >
        <div
          class="icon-container d-flex justify-content-around align-items-center"
        >
          <div class="content text-start m-0">
            <p class="de">Reserved Spaces</p>
            <span>{{ cards?.space?.totalReservedSpace }}</span>
          </div>
          <div style="background-color: #1363df" class="icon">
            <i class="pi pi-lock"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="spaces.length > 0">
    <div style="cursor: pointer" class="row">
      <p-table
        dataKey="id"
        [value]="spaces"
        [rowHover]="true"
        responsiveLayout="scroll"
        [rows]="pagination.itemsPerPage"
        [totalRecords]="pagination.totalItems"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="spaceName">
              Name<p-sortIcon field="spaceName"></p-sortIcon>
            </th>
            <th pSortableColumn="spaceCategory.spaceCategoryName">
              Category<p-sortIcon
                field="spaceCategory.spaceCategoryName"
              ></p-sortIcon>
            </th>
            <th>Capacity</th>
            <th>Opens At</th>
            <th>Close At</th>
            <th pSortableColumn="status.statusName">
              Status<p-sortIcon field="status.statusName"></p-sortIcon>
            </th>
            <!-- <th>Detail</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-space>
          <tr>
            <td>
              <img
                [alt]="space.spaceName"
                src="{{ space.imageUrl }}"
                width="32"
                height="30"
                style="vertical-align: middle; border-radius: 1rem"
              />
              <span class="ms-2 image-text">{{ space.spaceName }}</span>
            </td>
            <td>{{ space.spaceCategory.spaceCategoryName }}</td>
            <td>{{ space.spaceCapacity }}</td>
            <td>{{ space.opensAt | date: "hh:mm a" }}</td>
            <td>{{ space.closesAt | date: "hh:mm a" }}</td>
            <td>
              <span [class]="'space-badge status-' + space.status.statusName">{{
                space.status.statusName
              }}</span>
            </td>
            <!-- <td>
                  <button
                    (click)="moveToSpaceDetail(space.spaceName)"
                    class="btn btn-sm border-0 bd"
                  >
                    <i class="bi bi-ticket-detailed"></i>
                  </button>
                  <button
                    (click)="moveToSpaceDetail(space.spaceName)"
                    class="btn btn-sm border-0 bd"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="row px-3">
      <div
        class="d-flex justify-content-center align-items-center"
        *ngIf="pagination"
      >
        <pagination
          [boundaryLinks]="true"
          [totalItems]="pagination.totalItems"
          [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="pagination.currentPage"
          (pageChanged)="nextPage($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        >
        </pagination>

        <form
          [formGroup]="dropdownForm"
          autocomplete="off"
          (submit)="onSubmit()"
          class="row"
          *ngIf="pagination.currentPage == 1"
        >
          <div class="form-group">
            <select
              class="form-select"
              formControlName="pageSize"
              (change)="changePageSize($event)"
            >
              <option value="">Page Size</option>
              <ng-container *ngFor="let dd of dropdown">
                <option *ngIf="dd.pageSize <= pagination.totalItems">
                  {{ dd.pageSize }}
                </option>
              </ng-container>
            </select>
            <div
              class="mb-2 error-block"
              *ngIf="submitted && handleErrorDropDown('pageSize', 'required')"
            >
              You must provide a value!
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
