<div class="container">
  <div
    class="row justify-content-center justify-content-xl-start align-items-center"
  >
    <ng-container *ngFor="let space of spaces">
      <div class="cd-container">
        <div class="card cd border-0">
          <div class="card-body">
            <div class="card-head">
              <img
                class="hall-image text-center"
                src="assets/images/01.jpg"
                alt="hall"
              />
              <ul class="list-inline hall-name animate text-center">
                <li class="list-inline-item">
                  <button class="btn fw-bold text-uppercase button">
                    Hall
                  </button>
                </li>
              </ul>
            </div>

            <div class="content mt-2 text-center">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                assumenda ipsam, quae ad corporis error necessitatibus et
                eveniet quo omnis libero ab vero doloremque nemo a aliquam qui
                repellendus fugiat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
