<div class="container my-5 p-5">
  <form
    class="row align-items-center flex-column justify-content-center"
    [formGroup]="subteamForm"
    autocomplete="off"
    (submit)="onSubmit()"
  >
    <div class="mb-4 form-group col-6">
      <label class="mb-2" for="">Team</label>
      <select
        class="form-select"
        formControlName="teamName"
        (change)="changeTeam($event)"
      >
        <option value="">Choose Team</option>
        <option *ngFor="let team of teams">{{ team.teamName }}</option>
      </select>
      <div
        class="mb-2 error-block"
        *ngIf="submited && handleErrorDropDown('teamName', 'required')"
      >
        You must provide a value!
      </div>
    </div>

    <div class="form-group col-6 mb-4">
      <label class="mb-2" for="">Sub Team Name</label>
      <app-text-input
        [formControl]="subteamForm.controls['subTeamName']"
        [label]="'Sub Team Name'"
      ></app-text-input>
    </div>

    <div class="form-group mt-4 d-flex flex-column align-items-center">
      <button
        [disabled]="!subteamForm.valid"
        class="btn button rounded-pill mb-4"
        type="submit"
      >
        Add
      </button>
    </div>
  </form>
</div>
