.left {
  box-shadow: 0 0.4rem 1rem 0 rgba(8, 14, 10, 0.4);

  .title-container {
    font-size: 1.2rem;
    padding: 1rem;
    & h3 {
      font-weight: 700;
      color: #000;
      & span {
        font-weight: 700;
        color: rgba(108, 219, 147, 255);
      }
    }
  }
}
