.sidenav {
  background: rgba(51, 51, 51, 255);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 rgba(51, 51, 51, 255);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: red;
  margin: 0;
  padding: 0;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0 0.938rem 0 0.938rem;
    width: 100%;
    // background-color: green;
    height: 8rem;

    .logo {
      background: #fff rgba(108, 219, 147, 155);
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      // padding: 0.313rem;
      font-weight: 900;
      font-size: 1.7rem;
      cursor: pointer;
      border: none;
      color: rgba(108, 219, 147, 255);
      text-transform: uppercase;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 255);

      & span {
        color: rgba(108, 219, 147, 255);
        font-weight: 900;
      }
    }
    .b-close {
      margin-left: auto;
      cursor: pointer;
      width: 3rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
      }
    }
  }

  .profile-contianer {
    // background-color: green;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
    }

    .delay {
      transition: all 0.5s ease-in;
    }
  }

  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: calc(100% - 3.65rem);

    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: #fff;
        font-weight: 700;

        border-radius: 0.625rem;
        text-decoration: none;
        transform: all 0.3s ease;

        .sidenav-link-icon {
          font-size: 22px;
          color: rgba(108, 219, 147, 255);
          width: 2rem;
          min-width: 2rem;
          margin: 0 0.5rem;
          text-align: center;
        }

        .sidenav-link-text {
          margin-left: 1.5rem;
        }
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
  transition: all 0.5s ease-in-out;
  .profile-contianer {
    img {
      width: 5rem;
      height: 5rem;
    }
  }
}

.active {
  background: #fff;

  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000 !important;
  }
}

.text-log {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.logout-container {
  padding-top: 0.938rem !important;
  .logout {
    padding: 0.313rem;
    font-size: 1.2rem !important;
  }
}
