<div class="w-100 register-container p-0 m-0">
  <div class="row text-uppercase">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Spaces</h3>
      <!-- <button
        (click)="refresh()"
        style="width: 10rem"
        class="btn button bt me-3"
      >
        <i class="bi bi-arrow-clockwise"></i>
        <span>Refresh</span>
      </button> -->
    </div>
  </div>
  <div class="row">
    <div
      style="min-height: 50.5rem; box-shadow: none"
      class="col-12 d-flex flex-wrap align-items-center justify-content-start"
    >
      <ng-container *ngIf="spaces.length > 0">
        <ng-container *ngFor="let space of spaces">
          <div class="card">
            <div class="img-conatiner">
              <img
                class="rounded-5"
                src="{{ space.imageUrl }}"
                alt="{{ space.spaceName }}"
              />
            </div>
            <div class="card-body mt-2 w-100">
              <h3>{{ space.spaceName }}</h3>
              <h5>{{ space.spaceCategory.spaceCategoryName }}</h5>
              <div class="actions mt-3">
                <button
                  type="button"
                  (click)="movetoreservation()"
                  class="btn w-50 button"
                >
                  Book Now
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="col-12 px-3">
          <div
            *ngIf="pagination"
            class="d-flex justify-content-center align-items-center"
          >
            <pagination
              [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="nextPage($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>
            <form
              [formGroup]="dropdownForm"
              autocomplete="off"
              (submit)="onSubmit()"
              class="row"
              *ngIf="pagination.currentPage == 1"
            >
              <div class="form-group">
                <select
                  class="form-select"
                  formControlName="pageSize"
                  (change)="changePageSize($event)"
                >
                  <option value="">Page Size</option>
                  <ng-container *ngFor="let dd of dropdown">
                    <option *ngIf="dd.pageSize <= pagination.totalItems">
                      {{ dd.pageSize }}
                    </option>
                  </ng-container>
                </select>
                <div
                  class="mb-2 error-block"
                  *ngIf="
                    submitted && handleErrorDropDown('pageSize', 'required')
                  "
                >
                  You must provide a value!
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
