<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div>
    <div class="logo-container">
      <button class="logo m-0" (click)="toggleCollapse()">S</button>
      <div class="logo-text" *ngIf="collapsed">Space<span>360</span></div>
      <button class="b-close" (click)="closeSidenav()" *ngIf="collapsed">
        <i class="bi bi-x-lg close-icon"></i>
      </button>
    </div>

    <div class="profile-contianer text-white">
      <img class="mb-2" src="assets/images/man.png" alt="user" />
      <div @fadeInOut class="delay text-center" *ngIf="collapsed">
        <h5 class="">
          {{ currentUser.firstName | titlecase }}
          {{ currentUser.lastName | titlecase }}
        </h5>
        <p class="m-0 p-0 h5">{{ currentUser.teamName }}</p>
        <p class="m-0 mt-2 text-muted p-0 h6">{{ currentUser.subteamName }}</p>
      </div>

      <ng-container *ngIf="currentUser.userRole == 'Admin' && collapsed">
        <button (click)="moveToUser()" class="mt-4 btn button">User</button>
      </ng-container>
    </div>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="[data.routerLink]"
        class="sidenav-nav-link"
      >
        <i
          showDelay="100"
          hideDelay="200"
          pTooltip="{{ data.label }}"
          class="sidenav-link-icon"
          [class]="data.icon"
        ></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{
          data.label
        }}</span>
      </a>
    </li>
  </ul>

  <div class="logo-container logout-container">
    <button
      showDelay="100"
      hideDelay="200"
      pTooltip="Logout"
      class="logo logout"
      (click)="logOut()"
    >
      <i class="bi bi-box-arrow-right"></i>
    </button>
    <div class="text-log" *ngIf="collapsed">Log Out</div>
  </div>
</div>
